.card-info{
    border-bottom: 5px solid #ccc;
    padding: 1rem;
    color: #fff;
}
.card-info>dl{
    background: #c65055;
    width: 88%;
    border-radius: 10px;
    padding: .5rem 1rem .5rem 6rem;
    box-sizing: border-box;
    margin: 0 auto 10px;
    position: relative;
}
dl>img{
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}
dt>em{
    float: right;
    margin-right: 15px;
    background: #fff;
    width: 2.5rem;
    height: 2.5rem;
    line-height:2.5rem;
    display: inline-block;
    border-radius: 50%;
    color: #535353;
    text-align: center;
}
.card-info>span{
    display: block;
    text-align: center;
}
.card-info>span>button{
    margin-right: 2rem;
}
span>.delete{
    width: 30%;
    border: 1px solid #f00;
    color: #f00;
    background: #fff;
}
span>.edit{
    width: 30%;
    border: 1px solid #0f0;
    color: #0f0;
    background: #fff;
    outline: 0;
}
.add-card{
    text-align: center;
    width: 90%;
    border: 1px dashed #ccc;
    margin: 4rem auto;
    border-radius: 7px;
    height: 10rem;
    line-height: 10rem;
    color: #ccc;
}

/*删除银行卡弹出框*/
.confirm-box{
    background: #fff;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    margin: 45% auto 0;
}
.confirm-box>div{
    border-bottom: 1px solid #ccc;
    height: 7rem;
    line-height:7rem;
}
.confirm-box>span{
    display: inline-block;
    width: 50%;
    height: 4rem;
    line-height: 4rem;
}
.cancel {
    border-right: 1px solid #ccc;
}
.popup{
    background: #000;
    color: #fff;
    font-weight: bold;
    position: absolute;
    padding: 1rem;
    width: 30%;
    text-align: center;
    left: calc(50% - 30%/2);
    top: 40%;
    display: none;
}